<div>
  <button (click)="loginUser()">
    LOGIN
  </button>
</div>
<div>
  <button (click)="logOutUser()">
    LOGOUT
  </button>
</div>
<div class="cotainer md-col-3">
  <div class="row">
   <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li>
      <a routerLink="/users"  routerLinkActive="active">Users</a>
    </li>
    <li>
      <a routerLink="/categories"  routerLinkActive="active">Categories</a>
    </li>
    <li>
      <a routerLink="/post"  routerLinkActive="active">Posts</a>
    </li>
   </ul>

  </div>
</div>


<div>
 <router-outlet></router-outlet>
</div>